/* styles.css */
.toplevel_page_ancenter-admin{
	div#TB_title{
		height: 0;
		border: 0;
	}
	#TB_closeWindowButton {
		left: auto;
		right: -30px;
		color: #f0f0f1;
	}
	.tb-close-icon {
		color: #fff !important;
		&:hover::after {
			outline: 2px solid;
			outline-offset: -4px;
			border-radius: 4px;
		}
	}
	
	.ancenter-is-submenu{
		.dashicons{
			//margin-left: -5px;
			font-size: 14px;
			margin-right: 2px;
			margin-top: 2px;
		}
	}
	
	.plugin-list-wrapper.ant-card {
		align-self: flex-start;
		max-width: calc((100% - calc(15px * 1)) / 2);
		flex: 0 0 calc((100% - calc(15px * 1)) / 2);
		@media (min-width: 1650px) {
			max-width: calc((100% - calc(15px * 2)) / 3);
			flex: 0 0 calc((100% - calc(15px * 2)) / 3);
		}
	}
	.category-list-wrapper.ant-card {
		align-self: flex-start;
		max-width: calc((100% - calc(15px * 1)) / 2);
		flex: 0 0 calc((100% - calc(15px * 1)) / 2);
		@media (min-width: 1650px) {
			max-width: calc((100% - calc(15px * 2)) / 3);
			flex: 0 0 calc((100% - calc(15px * 2)) / 3);
		}
	}
}